
<ul><h1>Request and Enquiries</h1></ul>
<p id="x">Queries, Concerns, Doubts? We're here to listen! 
online baking to offer the best possible service to every contact. Our
support team makes sure that you get the best advice and
guidance regarding whatever queries you have. We help you !!!!</p>
<div>
<div id="y">
<span>📍Address</span><br>
<p>1820/10 Kanchanpur,<br>Adhartal Jabalpur,<br> (M.P.) 482004</p>
<span>📞Phone</span><br>
<p>123-456-789</p>
<span>📧Email</span><br>
<i class="fa-duotone fa-envelope"></i>
<p>onlinebanking@gmail.com</p>
</div>

<div id="z">
<h2>Send message</h2>
<input type="text" placeholder ="Name" [formControl]="name">
<input type="text" placeholder ="E-Mail"  [formControl]="email">
<input type="text" placeholder =" Type your Message"  [formControl]="message">
<button type="button" (click)="saveMassage()">Submit</button>
</div>
</div>

