
<div id="x"><h2>Personal Loan Rules,Terms & Conditons that you should know!</h2></div>
<div class="y">
<span> 1 | </span>
<b>credibility of the Lender 👍 </b><br><br>

 borrow from lenders. Avoid getting lured by lucrative offers ensure that you are speaking to a genuine representative and not a fraudsters
</div>

<div class="y">
<span> 2 | </span>
<b>Be certain about the Exact Interest Rate % </b><br><br>
Apart from being certain about the exact interest rate,use the personal loan EMI calculator to get complete clarity on your loan EMI
</div>

<div class="y">
<span> 3 | </span>
<b>Payment Details 📜</b><br><br>
prepayment is a healthy step towords you being free of a loan sooner than your expected date.
</div>

<div class="y">
<span> 4 | </span>
<b>Hidden Charges 🔍</b><br><br>
Be wary of insurance, service charges etc also most lendens levy penalty charges in case of an EMI bonuce, or if you cancel the loan after it has been approved
</div>

<div class="y">
<span> 5 | </span>
<b>Uses of the Loan 💰</b><br><br>
Ask your lender if there is any restriction on the usage of the loan amount
</div>

<div class="y">
<span> 6 | </span>
<b>Loan Documents 📝</b><br><br>
Keep your personal document handy. Driving  license,voter ID, Aadhar Card,etc.Apart from this salary slips and bank statements would also be required.
</div><br>
<p>If you are interested in all terms and conditions please hit the Accept button<p>
<button>ACCEPT </button>
